.password-field-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.password-toggle-btn {
  position: absolute;
  right: 10px;
  top: calc(1em + 10px + 5px + 10px);
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 0;
}

.password-toggle-btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
